<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <queries>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CREATE_DOCUMENT" />
            <data android:mimeType="*/*" />
        </intent>
        <package android:name="com.google.android.documentsui" />
        <package android:name="com.android.documentsui" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.PS2MemcardEditor">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PS2MemcardEditor"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Memory card file association (file scheme) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ps2" />
                <data android:pathPattern=".*\\..*\\.ps2" />
                <data android:pathPattern=".*\\.mc2" />
                <data android:pathPattern=".*\\..*\\.mc2" />
                <data android:pathPattern=".*\\.mcd" />
                <data android:pathPattern=".*\\..*\\.mcd" />
                <data android:pathPattern=".*\\.raw" />
                <data android:pathPattern=".*\\..*\\.raw" />
                <data android:pathPattern=".*\\.vmc" />
                <data android:pathPattern=".*\\..*\\.vmc" />
                <data android:pathPattern=".*\\.psu" />
                <data android:pathPattern=".*\\..*\\.psu" />
                <data android:pathPattern=".*\\.max" />
                <data android:pathPattern=".*\\..*\\.max" />
                <data android:pathPattern=".*\\.cbs" />
                <data android:pathPattern=".*\\..*\\.cbs" />
                <data android:pathPattern=".*\\.xps" />
                <data android:pathPattern=".*\\..*\\.xps" />
                <data android:pathPattern=".*_pcsx2_superblock.*" />
            </intent-filter>

            <!-- Memory card file association (content scheme) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ps2" />
                <data android:pathPattern=".*\\..*\\.ps2" />
                <data android:pathPattern=".*\\.mc2" />
                <data android:pathPattern=".*\\..*\\.mc2" />
                <data android:pathPattern=".*\\.mcd" />
                <data android:pathPattern=".*\\..*\\.mcd" />
                <data android:pathPattern=".*\\.raw" />
                <data android:pathPattern=".*\\..*\\.raw" />
                <data android:pathPattern=".*\\.vmc" />
                <data android:pathPattern=".*\\..*\\.vmc" />
                <data android:pathPattern=".*\\.psu" />
                <data android:pathPattern=".*\\..*\\.psu" />
                <data android:pathPattern=".*\\.max" />
                <data android:pathPattern=".*\\..*\\.max" />
                <data android:pathPattern=".*\\.cbs" />
                <data android:pathPattern=".*\\..*\\.cbs" />
                <data android:pathPattern=".*\\.xps" />
                <data android:pathPattern=".*\\..*\\.xps" />
                <data android:pathPattern=".*_pcsx2_superblock.*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
